body {
  background: #fff;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
.catalog-container {
  margin: 20px auto;
}
#flipbook {
  width: 800px;
  height: 500px;
  margin: auto;
}
.page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.whatsapp {
  display: inline-block;
  padding: 10px 20px;
  background-color: #25D366;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
.descarga {
  margin-top: 20px;
}
